/*
--  Darren Fisher
--  Homework 3
*/



#divOne {
    background-color: azure;
    height: 50px;
    font-size: 25px;
    line-height: 25px;
}
#Background{
    background-color: lightblue;
    height: 100%;
    width: 100%;
}
#headerShowDate{
    background-color: azure;
    height: 100px;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    float: left;
    border: 1cm;
    border-style: solid;
}
#ShowTwoInputs{
    background-color: azure;
    height: 100px;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    border: 1cm;
    border-style: solid;
}
#ShowTwoInputsHalf{
    background-color: azure;
    height: 100px;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
}

#middleDatashow{
    background-color: azure;
    height: 100px;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    border: 1cm;
    border-style: solid;
}